# tmp
.*.swp
.govmomi
# Workstation
.DS_Store
.vscode
# loaded images
**/roles/**/files/images/*
images
context
# Galaxy artifacts.
*.tar.gz
*.zip
*.iso
*.log
*.png
*.tgz
# Staging
*kubeconfig.yaml
*terraform*
node_modules
package*.json
*.tfstate
hosts.ini
.key*
Chart.lock
.venv/
__pycache__
.pytest_cache
AWS
.aider*
