# tmp/state/secrets
.*.swp
.govmomi
*terraform*
terraform.tfstate*
.venv/
*kubeconfig.yaml
Chart.lock
.key
# Workstation
.DS_Store
.vscode
# loaded images
**/roles/**/files/images/*
images
context
# Galaxy artifacts.
*.tar.gz
*.zip
*.iso
*.log
*.png
*.tgz
