# tmp
.*.swp
.govmomi
# Workstation
.DS_Store
.vscode
# loaded images
**/roles/**/files/images/*
images
context
# Galaxy artifacts.
*.tar.gz
*.zip
*.iso
*.log
*.png
*.tgz
# Staging
*kubeconfig.yaml
*terraform*
terraform.tfstate*
hosts.ini
.key
Chart.lock
.venv/
