#cloud-config

#### cloud-init 24.4 (suitable for Fedora 41)

timezone: ${timezone}

hostname: ${hostname}
fqdn: ${fqdn}

manage_etc_hosts: true

users:
  - name: ansible
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    gecos: Ansible User
    groups: users,admin,wheel
    homedir: /home/ansible
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
      - ${public_key}

ssh_pwauth: true
disable_root: true

resize_rootfs: true

packages:
  - qemu-guest-agent
  - git
  - python3-pip
  - libselinux-python3
  - yq
  - tar
  - unzip
  - vim
  - wget
  - curl
  - bash-completion
  - tree
  - firewalld

package_update: true
package_upgrade: true
package_reboot_if_required: true

## Write yaml
write_files:
  - path: /home/ansible/vars.yml
    owner: 'ansible:ansible'
    permissions: "0644"
    defer: true
    content: |
      ---
      global_domain: ${domain}
      global_master_details:
        ${master_details}
      global_worker_details:
        ${worker_details}

# Redhat subscription manager
%{if os_name == "redhat" }
rh_subscription:
  username: ${rh_username}
  password: ${rh_password}
  server-hostname: ${fqdn}
  auto-attach: True
%{ endif }

## Ansible part
ansible:
  install_method: pip
  package_name: ansible
  # run_user is only valid when install_method is pip
  run_user: ansible
  setup_controller:
    repositories:
      - path: /home/ansible/Rkub
        source: https://github.com/MozeBaltyk/Rkub.git
    run_ansible:
      - playbook_dir: /home/ansible/Rkub
        playbook_name: ./playbooks/tasks/provision.yml
        extra_vars: "@/home/ansible/vars.yml"

bootcmd:
  - [ sh, -c, 'echo $(date) | sudo tee -a /root/bootcmd.log' ]

runcmd:
  - [ sh, -c, 'echo $(date) | sudo tee -a /root/runcmd.log' ]
  - [ systemctl, daemon-reload ]
  - [ systemctl, enable, qemu-guest-agent.service ]
  - [ systemctl, start, --no-block, qemu-guest-agent.service ]
  - [ domainname, ${domain} ]

final_message: "The system is finally up, after $UPTIME seconds"
