server: https://{{ master }}:9345
{% if rke2_config_token is defined %}
token: {{ rke2_config_token }}
{% endif %}

# Common
{% if rke2_profile_activated %}
profile: cis
{% endif %}
node-name: {{ inventory_hostname }}
write-kubeconfig-mode: 0600
data-dir: {{ rke2_data_dir }}
cluster-cidr: {{ rke2_cluster_cidr }}
service-cidr: {{ rke2_service_cidr }}

# Config Controller
selinux: true
{% if ( rke2_cni is defined ) and ( rke2_cni | type_debug == "list" ) %}
cni:
{% for cni in rke2_cni %}
  - {{ cni }}
{% endfor %}
{% else %}
cni: {{ rke2_cni }}
{% endif %}
tls-san:
  - cluster.local
  - {{ control_plane_endpoint }}
{% if rke2_disable %}
disable: {{ rke2_disable }}
{% endif %}
secrets-encryption: true
